profiles {
    local {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
        process.container = 'quay.io/adamjtaylor/htan-artist'
    }

    tower {
        process {
            cpus = {4 * task.attempt}
            memory = {16.GB * task.attempt}
            maxRetries = 3
            errorStrategy = 'retry'
         }
    }
}

